PGHOST=localhost
PGPORT=5432
PGDATABASE=inaproc_apj
PGUSER=postgres
PGPASSWORD=postgres

INAPROC_BASE_URI=https://katalog.inaproc.id
SCRAPER_CATEGORY_ID=aa2c3a44-36fa-49a6-b9f6-3188b7533d4f
SCRAPER_MIN_RECORDS=120
SCRAPER_PER_PAGE=60
SCRAPER_DELAY_MS=400
